html, body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}

header{
  text-align: center;
  color:white;
  font-size: 2em;
  font-weight: bold;
  font-family:fantasy;
}

#iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
  display:flex;
  justify-content: center;
  padding:1.5em;
}

input{
  background-color: #640202;
  color: white;
  padding: 0.5em;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:hover{
  background-color: #643c3c;
}
